{% extends 'base.html' %}

{% block content %}

      <div class="panel panel-defaule">
          <h3 class="panel-title"> Create class </h3>
      </div>

       <div class="panel-body">
          <form method="post">
                {% csrf_token %}
       </div>
    <form action="/class/add/" method="post">

         <div class="form-group">
             <label> class</label>
             <input type="text" required="required" class="form-control"  name="class_id"/>
         </div>
         <div class="form-group">
             <label>course</label>
             <select class="form-control" name="course_id">
                 {% for item in course_list %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                 {% endfor %}
            </select>
         </div>
         <div class="form-group">
             <label>semester</label>
             <select class="form-control" name="semester_id">
                 {% for item in date_list %}
                        <option value="{{ item.id }}">{{ item.year }}--{{ item.semester }}</option>
                 {% endfor %}
            </select>
         </div>
         <div class="form-group">
             <label>lecturer</label>
             <select class="form-control" name="teacher_id">
                  {% for item in teacher_list %}
                        <option value="{{ item.id }}">{{ item.user.username }}</option>
                 {% endfor %}
            </select>
         </div>
        <div>
        <label>student</label>
            {% for item in student_list %}
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="{{ item.id }}" name="student_id"> {{ item.user.username }}
                </label>
            {% endfor %}
        </div>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
         </div>

     </form>
  </div>





{% endblock %}